@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    
}


/*header */

.hedicon{
    padding: 10px;
    
}

.hedicon:hover {
    opacity: 0.4;
}
.navbar {
    border-bottom: solid 5px black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) ;
    border-bottom: solid 5px #0f362d;
    background-color: #246355;
}

.navegacion {
    display: flex;
    align-items: center;
    width: 100%;
    
}
.nav-link:hover {
    color: #0f362d;
    border-bottom: 1px solid black;

}
.nav-link {
    margin: 5px;
}

.cont__nav a:hover{
    color: #0f362d;
    border-bottom: 1px solid black;
}

/*section */

/*pagina1 */

.noticias {
    display: grid;
    grid-template-areas: " not1 not2";
    align-items: center;
    justify-content: center;
    background-image: url(../images/estadio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.noticiaPrincipal {
    width: 100%;
    margin: 30px;
    margin-top: 30px;
    grid-area: not1;
}

.noticia__texto {
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}

.noticiaPrincipal__contenedor {
    width: 90%;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
}

.noticia__titulo {
    color: black;
    text-decoration: underline;
    margin-bottom: 5px;

}

.noticiaPrincipal__contenedor:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.noticiaSecundaria {
    width: 100%;
    flex-wrap: wrap;
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-area: not2;
    

}

.noticiaSecundaria__contenedor {
    width: 80%;
    overflow: hidden;
    margin: 30px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
    
    
}

.noticiaSecundaria__contenedor:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

}

.noticiaSecundaria__imagen{
    width: 100%;
    height: 200px;
}


/*pagina2*/

.contenedor__general{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 2%;
    width: 100%;
    background-image: url(../images/estadio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.contenedor__tables{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.contenedor__table{
    width: 50%;
    padding: 3%;
    text-align: center;
}

.table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    border-bottom: solid 5px #0f362d;
    
}


th, td {
    padding: 10px;
}

tr:nth-child(even){
    background-color: #ddd;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
    
}



.contenedor__aside {
    display: inline-flex;
    width: 100%;
}

.contenedor__cards {
    display: grid;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.carta {
    width: 100%;
    height: 50%;
    margin: 30px;
    
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
}

.carta__video {
    width: 100%;
    height: 80%;
}

.carta__texto {
    margin-top: 5%;
    color: black;
}



/*pagina3 */



.contenedor__partidos {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    background-image: url(../images/estadio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1%;
    overflow: hidden;
}
.partido{ 
    margin: 15px;
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.copaliga {
    background-color: #31aac9;
    border-bottom: solid 5px #d8e0e2;
    color: #d8e0e2;
    
}

.primeraNacional {
    background-color: #d8e0e2;
    border-bottom: solid 5px #31aac9;
    color: #31aac9;
}

.ligaEspañola {
    background-color: #dd3737;
    border-bottom: solid 5px #d8e65a;
    color: #d8e65a;
}

.liga {
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}

.libertadores {
    background-color: #161414;
    border-bottom: solid 5px #abad22;
    color: #abad22;
}
.sudamericana {
    background-color: #1b2cc5;
    border-bottom: solid 5px #8a8a86;
    color: #8a8a86;
}
.ligaItaliana {
    background-color: #179417;
    border-bottom: solid 5px #a30404;
    color: #ddddd9;
}

.dia {
    margin: 35px;
    border-radius: 8px;
    padding: 10px;
    background-color: #1f1d1d;
    color: rgb(226, 211, 211);
    border-bottom: solid 5px rgb(207, 197, 197);
}

/*pagina 4 */


.contenedor__gral {
    
    display: grid;
    grid-template-areas: "tit tit"
                        " sec asi";
    width: 100%;
    align-items: center;
}

.contenedor__tabl {
    width: 100%;
    padding: 2%;
    grid-area: sec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.contenedor__grupo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1%;
}


.tabla {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-bottom: solid 5px #0f362d;
}

.contenedor__t {
    margin: 10px;
    width: 90%;
    text-align: left;
}

.titulo__libertadores {
    text-align: center;
    padding: 10px;
    grid-area: tit;

}

.contenedor__gral, .titulo__libertadores {
    background-image: url(../images/estadio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor__ultimosCampeones {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-area: asi;
}

.card{
    max-width: 640px;
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: whitesmoke;
}

/*pagina 5 */




.fondoPagina{
    padding: 3%;
    background-image: url(../images/estadio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contenedor__contacto {
    background-color: #0f362d;
    color: #fff;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.contacto__titulo {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2%;

}

.contacto__general {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255,.3);
    padding: 0.5em;
}

.contenedor__form {
    background-color: #222222;
}


.contenedor__form form {
    margin: 0;
    padding: 1.5em;
}

.contenedor__form button, .contenedor__form input, .contenedor__form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 2px solid #0f362d ;
}

.contenedor__form button {
    background-color: #0f362d;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}



/*footer */

.piePagina {
    width: 100%;
    background-color: #246355;
    border-bottom: solid 5px #0f362d;

}
.piePagina__contenedor{
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-column-gap: 150px;
}

figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina__logo {
    width: 250px;
}

.box h2 {
    color: rgb(26, 25, 25);
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

.box p {
    color: #1f1d1d;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}



.redes__links a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0f362d;
    text-align: center;

}
.redes__links a:hover{
    opacity: 0.4;
}

.redes__links img {
    width: 30px;
    height: 30px;
}

.redes__links {
    text-align: center;
}


@media (max-width: 768px) {

    

    /*footer */

    .piePagina__contenedor{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
    }

    /*Pagina1 */

    .noticias {
        width: 100%;
        grid-template-areas: " not1"
        "not2";
        
        justify-items: center;
    }

    .noticiaSecundaria {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 93%;
    }

    .noticiaPrincipal {
        width: 90%;
        justify-items: center;
    }

    .noticiaPrincipal__contenedor {
        width: 100%;

    }


    



    /*Pagina2 */

    .carta__texto {
        font-size: 16px;
    }
    

}


@media (max-width: 1023px) {
    /*header */
    .navegacion {
        display: block;
        align-items: center;
        width: 100%;
    }

    .hedicon{
        display: flex;
        justify-content: center;
    }
    

     /*Pagina4 */

    .contenedor__gral {
        grid-template-areas: "tit"
                                "sec"
                                "asi";
        justify-content: center;
    }

    .contenedor__tabl {
        grid-template-columns: 1fr;
    }


    .contenedor__ultimosCampeones {
        padding: 5%;
        width: 100%;
    }

    .div__ultimosCampeones {
        width: 80%;
    }

}


@media (max-width: 1300px) {
      /*Pagina2 */
    
    .contenedor__general {
        
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contenedor__tables{
        width: 100%;
        flex-direction: column;
        padding: 5%;

    }

    .contenedor__table {
        width: 100%;
        padding: 1%;
        text-align: center;
    }

    .table {
        width: 100%;
    }

    .contenedor__cards {
        flex-direction: column;
        padding: 5%;

    }
    
    .carta__texto {
        margin-top: 0%;

    }

    .carta {
        width: 80%;
        height: 100%;
    }

}

