/*pagina 4 */


.contenedor__gral {
    
    display: grid;
    grid-template-areas: "tit tit"
                        " sec asi";
    width: $fullwidth;
    align-items: center;
}

.contenedor__tabl {
    width: $fullwidth;
    padding: 2%;
    grid-area: sec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.contenedor__grupo {
    display: flex;
    justify-content: space-around;
    width: $fullwidth;
    padding: 1%;
}


.tabla {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: $fullwidth;
    border-bottom: $bordenegro;
}

.contenedor__t {
    margin: 10px;
    width: 90%;
    text-align: left;
}

.titulo__libertadores {
    text-align: center;
    padding: 10px;
    grid-area: tit;
    color: white;

}

.grupo_t{
    color: whitesmoke;
}

.contenedor__gral, .titulo__libertadores {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23555555'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.contenedor__ultimosCampeones {
    display: flex;
    width: $fullwidth;
    justify-content: center;
    align-items: center;
    grid-area: asi;
}

.card{
    max-width: 640px;
    background-color: $colorfondo;
    border-bottom: $bordenegro;
    color: black;
}
