
 /*Responsive */

@media (max-width: 768px) {



    /*footer */

    .piePagina__contenedor{
        width: $fullwidth;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
    }



    /*Pagina1 */

    .noticias {
        width: $fullwidth;
        grid-template-areas: " not1"
        "not2";
        
        justify-items: center;
    }

    .noticiaSecundaria {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 93%;
    }

    .noticiaPrincipal {
        width: 90%;
        justify-items: center;
    }

    .noticiaPrincipal__contenedor {
        width:  $fullwidth;

    }



     /*Pagina2 */

    .carta__texto {
        font-size: 16px;
    }


}

@media (max-width: 1023px) {


    /*header */
    .navegacion {
        display: block;
        align-items: center;
        width: $fullwidth;
    }

    .hedicon{
        display: flex;
        justify-content: center;
    }


     /*Pagina4 */

    

    .contenedor__gral {
        grid-template-areas: "tit"
                                "sec"
                                "asi";
        justify-content: center;
    }

    .contenedor__tabl {
        grid-template-columns: 1fr;
    }


    .contenedor__ultimosCampeones {
        padding: 5%;
        width: $fullwidth;
    }

    .div__ultimosCampeones {
        width: 80%;
    }
    
}


@media (max-width: 1300px) {

    
    /*Pagina2 */
    
    .contenedor__general {
        
        width: $fullwidth;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contenedor__tables{
        width: $fullwidth;
        flex-direction: column;
        padding: 5%;

    }

    .contenedor__table {
        width: $fullwidth;
        padding: 1%;
        text-align: center;
    }

    .table {
        width: $fullwidth;
    }

    .contenedor__cards {
        flex-direction: column;
        padding: 5%;

    }
    
    .carta__texto {
        margin-top: 0%;

    }

    .carta {
        width: 80%;
        height: 100%;
    }

}